<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Bibliothèque</title>
</head>
<body>
    <header>
        <h1>Bienvenue à la Bibliothèque</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('enregistrement') }}">Enregistrer un Livre</a></li>
                <li><a href="{{ url_for('recherche') }}">Rechercher un Livre</a></li>
                <li><a href="{{ url_for('emprunt') }}">Emprunter un Livre</a></li>
                <li><a href="{{ url_for('gestion_stocks') }}">Gestion des Stocks</a></li>
                <li><a href="{{ url_for('deconnexion') }}">Se Déconnecter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Gérez facilement votre bibliothèque.</h2>
        <p>Accédez aux différentes fonctionnalités de gestion de livres, d'emprunts, et de gestion des utilisateurs.</p>
    </main>
</body>
</html>
